{% extends "header.html" %} 
{% block title %}Login{% endblock %} 
{% block content %} 
    {% load widget_tweaks %}
                <div class="container">
                    <div class="container1 design-form">
                            <div class="note">
                                <p>Sign In<p>
                            </div>
                            <form class="form-design designForm" method="POST">
                                {% csrf_token %} {% for error in form.non_field_errors %}
                                <strong style="color: red">{{ error }}</strong> {% endfor %}
                                <br>
                                <div class="form-group" >
                                    {% render_field form.username placeholder=form.username.label class+="form-control" %}
                                </div>
                                <br>
                                
                                <div class="form-group">
                                    {% render_field form.password placeholder=form.password.label class+="form-control" %}
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col my-col">
                                        <button class="btn btn-lg btn-primary btn-block" style="background: -webkit-linear-gradient(left, #4c89fa,#9f76e0);" type="submit">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


{% endblock %}