{% extends "header.html"%}
{% block title %}Register{% endblock %}

{% block content %}
{% load widget_tweaks %}
<body>
    <div class="container">
        <div class="container1 design-form">
            <div class="note">
                <p>Register</p>
            </div>
                {{ form.errors}}
                    {{ form.help_text }}
            <form class="form-design designForm" method="POST">
                {% csrf_token %}
                <div class="form-group">           
                    {% render_field form.username placeholder=form.username.label class+="form-control"  %}               
                </div>
                <br>
                <div class="form-group">
                    {% render_field form.email placeholder=form.email.label class+="form-control"  %}
                </div>
                <br>
                <div class="form-group">
                    {% render_field form.first_name placeholder=form.first_name.label class+="form-control"  %}
                </div>
                <br>
                <div class="form-group">
                   {% render_field form.last_name placeholder=form.last_name.label class+="form-control"  %}    
                </div>
                <br>
                <div class="form-group">
                    {% render_field form.password1 placeholder=form.password1.label class+="form-control"  %}
                </div>
                <br>
                <div class="form-group">
                    {% render_field form.password2 placeholder=form.password2.label class+="form-control"  %}
                </div>
                <br>
                <div class="form-group">
                    <div class="col my-col">
                        <button class="btn btn-lg btn-primary btn-block" style="background: -webkit-linear-gradient(left, #4c89fa,#9f76e0);" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>







<style>
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        .form-label-group>label {
            display: none;
        }

        .form-label-group input:-ms-input-placeholder {
            color: #777;
        }
    }
</style>
{% endblock content %}