{% extends "files/header.html" %} {% block title %}Drops of Life {% endblock %} {%load static %} {% block content %}

<style>
    body{
        background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
    }
    .my-container1 {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .center {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    .container{
        margin:
        display: flex;
        justify-content: center;
        align-items: center;a
    }
    
    .container1 {
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .design-button {
        border-radius: 50%;
    }
    
    .new-container {
        padding-bottom: 50px;
    }
    
    .jumbotron {
        padding: 0 0;
        margin-bottom: 50;
        background-color: white;
        background: -webkit-linear-gradient(left, #c5d3ee, #e7d3e7, rgb(247, 220, 220));
    }
    
    
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .my-row {
        display: flex;
        align-content: space-between;
    }
    
    .btn{
        margin-top:15px;
    }
    .typewriter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="jumbotron">
    <div class=" my-jumbotron">
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %} {{ message }} {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        
        <div class="col d-flex justify-content-center">
            <div class="box">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <div clas="card-title">
                        <div class="container">
                            <ul class="nav nav-tabs mb-3 list-inline" role="tablist">
                                <li class="nav-link active" aria-selected="true"><a data-toggle="tab" href="#signup" >Signup</a></li>
                                
                                <li class="nav-link" aria-selected="false"><a data-toggle="tab" href="#login">login</a></li>
                            </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="tab-content ">
                            <div id="signup" class="tab-pane fade show active">
                                <form role='form' action='/signup' method="POST" class='form-design designForm'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input name="username" type="email" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" placeholder="passwrod">
                                    </div>
        
                                    <label>Conform-Password</label>
                                    <input type="password" name="confrom_password" placeholder="Conform passwrod">
                                    
                                    
                                    <button class="btn btn-lg btn-primary btn-block" style="background: -webkit-linear-gradient(left,
                                    #4c89fa,#9f76e0);" type="submit">Sign-up</button>
                                    
                                </form>
                            </div>
                            <div id="login" class="tab-pane fade in active">
                                <form role='form' action='/login' method="POST" class='form-design designForm'></form>
                                    {%csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input name="username" type="email" placeholder="Username">
                                    </div>
        
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" placeholder="passwrod">
                                    </div>
    
                                    <button class="btn btn-lg btn-primary btn-block" style="background: -webkit-linear-gradient(left,
                                    #4c89fa,#9f76e0);" type="submit">login</button>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
          

<!-- <footer class="page-footer font-small black">
    <small>
        <div class="footer-copyright text-center py-3">©
            2020
            Copyright:
            <a href="https://BloodDonations.com/">
                BloodDonations.com</a>
        </div>
    </small>
</footer> -->


{% endblock content %}
