{% extends 'files/header.html' %} {% block title %} Civic Issues{%endblock%} {%load static %}{% block content %}
    <div class="container">
    {%for post in posts%}
        <div class="Container">
            <div class="col-md-4">
                <div class="thumbnail">
                  <a href="{post.user.MyProfile.thumbnail.url}">
                    <img src="{post.user.MyProfile.thumbnail.url}" style="width:100%">
                    <div class="row">
                        <div class="col">
                            <a href="updatelikes">like</a>
                            <p>{{post.likes}}</p>
                        </div>
                        <div class="col">
                            <a href="showcomments">View comments</a>
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
{%endblock%}